body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #275891;
}

.row-content {
    margin: 0px auto;
    padding: 25px 0px 25px 0px;
    border-bottom: 1px ridge;
    min-height: 200px;
    background-color: gainsboro;
}

.carousel {
    background: #512da8;
}

.carousel-item {
    height: 350px;
}

.carousel-item img{
    position: absolute;
    min-height: 300px;
    height: 350px;
    margin: 0 auto;
    width: 100%;
}

.gallery{
    background-color: beige;
    border: 1px ridge;
    padding: 25px 0px 25px 0px;
}
